$varColor1: #0b0b0b;
$varColor2: #b08b63;
$varColor3: #ffffff;
$varColor4: #23282d;
$varColor5: #34383c;
$varFontSize1: 3.0em!important;    //60px;
$varFontSize2: 2.7em!important;  //45px;
$varFontSize3: 2em!important;       //32px;
$varFontSize4: 1.75em!important;    //28px;
$varFontSize5: 1.5em!important;     //24px;
$varFontSize6: 1.25em!important;    //20px;
$varFontSize7: 1em!important;       //16px;
$varIsLoggedIn: 32px;
$varFontFamily1: 'Arapey', serif;
$varFontFamily2: 'Open Sans', sans-serif;
$varImageUrl: url('../kesato/images/Web-Banner-Slideshow-3.jpg');